.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    /* position: sticky; */
    top:0;
    z-index: 100;
}
.header_logo{
    margin:0 10px;
    margin-top: 10px;
    width:80px;
    object-fit: contain;
}
.header_search{
    display: flex;
    flex: 1 ;
}
.header_search_input{
    height:10px;
    padding:8px;
    border:none;
    width:100%
}
.header_search_icon{
    background-color: orange;
    height:15px !important;
    padding:5.5px;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.header_nav{
    display:flex;
    justify-content: space-evenly;
}
.header_option{
    display:flex;
    flex-direction: column;
    margin: 6px 10px;
    color:white;
}

.header_option_lineone{
    font-weight: 200;
    font-size:xx-small;
    text-decoration: none;
}
.header_option_linetwo{
    font-weight:700;
    font-size:x-small;
}

.header_option_cart{
    display:flex;
    flex-direction: column;
    margin: 0px 10px;
    color:white;
    padding: 4px 1px;
    align-items: center;
}
.header_option_cartlogo{
    height:18px !important;
}

.header_flag_icon{
    height:30px;
}

.header_select {
    background-color:#DADADA ;
    border-top-left-radius:10% ;
    border-bottom-left-radius:10% ;
    border:none;
    font-size:xx-small;
    padding-left: 5px;
}