.login{
    background-color: white;
    height:100vh;
    align-items: center;
    display:flex;
    flex-direction: column;
    
}

.login_form_container{
    background-color: white;
    display:flex;
    flex-direction: column;
    border:solid  lightgray;
    width:fit-content;
    padding: 20px;
    width:300px;
}
.login_form{
    display: flex;
    flex-direction: column;
}
.login_form > h5 {
    margin-bottom: 10px;
}
.login_form > input {
    margin-bottom: 10px;
    height:30px;
}
.login_form > p {
    margin-bottom: 10px;
    font-size: 12px;
}
.login_loginbutton{
    background-color:#f0c14b ;
    border-radius: 4px;
    height:30px;
    border: 1px solid;
}
.login_registerbutton{
    height:25px;
    border-color: darkgray;
    border-radius: 4px;
}
.login_logo{
    margin:30px 0 ;
    width:200px;
    object-fit: contain;
   

}


.register_alreadyhaveaccount{
    display:flex;
    font-size: 12px;
}