.product{
    display: flex;
    width: 22%;
    margin:1% 1%;
}
.product_category{
    width:100%;
    background-color: white;
    height: 360px;
    z-index: 1;
    padding: 20px 15px;
	object-fit: contain;
}
.product h3{
    text-align: center;
}
.product_card_container{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}
.product_card{
    margin: 0px 8px ;
	margin-top: 8px;
    width:33%;
}
.product_card img{
    width: 100%;
    height: 100px;
    
} 
.product_category_a{
    /* margin-left:20px; */
    font-size:small;
	
	
}

.product_card_ptag{
    font-size: small;
}

.product_category_a_div{
	width:80%;
	
	white-space:nowrap
}